# This is a basic VCL configuration file for varnish.  See the vcl(7)
# man page for details on VCL syntax and semantics.
#
# Default backend definition.  Set this to point to your content
# server.
#

import std;

acl internal {
  "192.168.1.0"/24;
  "10.11.12.0"/24;
}

backend legacy {
  .host = "192.168.1.161";
  .port = "8000";
  .probe = {
    .url = "/sites/all/themes/doit/css/images/ds-logo.png";
    .interval = 15s;
    .timeout = 2s;
    .window = 5;
    .threshold = 3;
  }
}

backend beta {
  .host = "qa-beta.dosomething.org";
  .port = "80";
  .probe = {
    .url = "/profiles/dosomething/themes/dosomething/paraneue_dosomething/screenshot.png";
    .interval = 15s;
    .timeout = 5s;
    .window = 15;
    .threshold = 3;
  }
}

sub vcl_recv {
  
  # Explicit switch to new pool
  if (req.http.host ~ "qa-beta.dosomething.org") {
    std.log("NEW POOL: Explicit");
    set req.backend = beta;
    return (pass);
  }
}

include "/etc/varnish/pools.vcl";
include "/etc/varnish/drupal.vcl";
