input {
  file {
    type => "syslog"
    start_position => "beginning"
    path => ["/var/log/auth.log", "/var/log/syslog"]
    exclude => ["*.gz", "shipper.log"]
  }
}
output {
  stdout { }
  redis {
    host => "10.241.0.43"
    data_type => "list"
    key => "logstash"
  }
}

