##
# Ansible provided setup. See https://github.com/fourkitchens/server-playbooks.
##

##
# This server allows a wildcard VirtualHost, so for example, going to:
#
# http://pete.training.example.com
#
# ... will set the webroot for the request to /home/pete/www/training
#
<VirtualHost *:80>
  ServerAdmin webmaster@localhost

  DocumentRoot /var/www/beta.dosomething.org/current/html
  <Directory />
          Options FollowSymLinks
          AllowOverride None
  </Directory>
  <Directory /var/www/beta.dosomething.org/current/html/>
          Options Indexes FollowSymLinks MultiViews
          AllowOverride All
          Order allow,deny
          allow from all
  </Directory>

  ErrorLog ${APACHE_LOG_DIR}/error.log

  # Possible values include: debug, info, notice, warn, error, crit,
  # alert, emerg.
  LogLevel warn

  CustomLog ${APACHE_LOG_DIR}/access.log combined

  AddType application/vnd.ms-fontobject .eot
  AddType application/font-sfnt .otf .ttf
  AddType application/font-woff .woff
</VirtualHost>
